/* src/pages/TugOfWar.css */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Playwrite+DE+Grund:wght@100..400&display=swap');

.tug-of-war {
  display: flex;
  FLEX: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #D7D9CE; /* Light background color */
  font-family: 'Antonio', sans-serif; /* Apply Antonio font */
  margin-top: 200px; /* Add margin to the top to create space for the default header */
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C7489; /* Darker blue background */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #13505B; /* Dark background */
  color: white;
  border-radius: 10px;
  margin: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player1:hover {
  background-color: #13505B; /* Darker green on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.player1 .icon {
  font-size: 100px;
  color: #119DA4; /* Blue color */
}

.player2:hover {
  transform: scale(1.05); /* Slightly increase size on hover */
  transition: background-color 0.3s, transform 0.3s;
}

.player2 .icon {
  font-size: 100px;
  color: #0C7489; /* Pink color */
}

.rope {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.letters {
  font-size: 80px;
  color: #D7D9CE; /* Light color */
  margin-bottom: 20px;
  animation: bounce 1s infinite;
}

.time-left, .current-turn, .score, .winner {
  font-size: 24px;
  color: #D7D9CE; /* Light color */
  margin: 10px 0;
}

input {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background-color: #4CAF50; /* Green background */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

button:active {
  background-color: #3e8e41; /* Even darker green when clicked */
  transform: scale(1.1); /* Increase size a bit more when clicked */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}







